/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| CORE: Forms 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

form {
	display: block;
	max-width: $text-max;
}

fieldset,
input,
select,
textarea,
label,
button {
	display: block;

	&:not(:first-child) {
		margin-top: 1rem;
	}
}

input,
select,
textarea {
	display: block;
	width: 100%;
	box-shadow: none;
	border: none;
	outline: none;
	border: 2px solid $form-border;
	border-radius: $border-radius;
	background-color: $form-bg;
	padding: 0.5em 0.8em;
	line-height: 1;
	font-size: $font-size;
	color: $text-color;
	transition: border 300ms ease-in-out,
				background-color 300ms ease-in-out;

	&::placeholder {
		opacity: 0.8;
		color: inherit;
	}

	&:focus,
	&:active {
		border-color: $form-focus-border;
		background-color: $form-focus-bg;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	height: 12em;
	resize: vertical;
	line-height: 1.4;
}

input[type="checkbox"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="radio"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="range"] {
	cursor: pointer;
}

label[for] {
	cursor: pointer;
}



input.focus-underline {
	border: none;
	background-color: unset;
	background-repeat: no-repeat;
	background-image: linear-gradient(transparent calc(100% - 3px), $form-focus-border 0),
					  linear-gradient(transparent calc(100% - 3px), $form-border 0);
	background-size: 0 100%, 100% 100%;
	padding-left: 2px;
	padding-right: 2px;
	transition: background 300ms ease-out;

	&:focus,
	&:active {
		border: none;
		background-color: unset;
		background-size: 100% 100%, 100% 100%;
	}
}