/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| CORE: Forms 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

br,
.break {
	display: block;
	margin: 1rem 100% 0 0;
	content: '';
}

form {
	display: block;
	max-width: $text-max;
}

label {
	display: inline-block;
	vertical-align: middle;
}

label[for] {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}


input,
select,
textarea,
fieldset,
.input,
.textarea {
	display: block;
	width: 100%;
	outline: none;
	box-shadow: none;
	border: 2px solid $form-border;
	border-radius: $round;
	background-color: $form-bg;
	padding: 0.5em 0.8em;
	line-height: 1;
	font-size: $font-size;
	color: $text-color;
	transition: border 300ms ease-in-out,
				background-color 300ms ease-in-out;

	&::placeholder {
		opacity: 0.3;
		color: inherit;
	}

	&:focus,
	&:active {
		border-color: $form-focus-border;
		background-color: $form-focus-bg;
	}
}

input[readonly],
fieldset {
	&:focus,
	&:active {
		border-color: $form-border;
		background-color: $form-bg;
	}
}

legend {
	padding: 0.1em 0.3em;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	height: 12em;
	resize: vertical;
	line-height: 1.4;
}

input[type="number"] {
	-moz-appearance: textfield;
	
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
	}
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
	}
}

input[type="color"] {
	height: 2.2em;
	padding: 0.1em;
	cursor: pointer;
}

input[type="checkbox"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="radio"] {
	display: inline-block;
	width: unset;
	cursor: pointer;
}

input[type="range"] {
	cursor: pointer;
}