/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Checkbox 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.checkbox {
	display: inline-flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;

	input[type=checkbox] {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__box {
		display: flex;
		align-items: center;
		position: relative;
		flex-shrink: 0;
		width: 1em;
		height: 1em;
		border-radius: $round;
		border: 2px solid $text-color;
		background-color: $form-border;
		padding: 1px;
		transition: background-color 200ms ease 200ms;
	}

	& > &__label {
		margin-left: 0.6rem;
	}

	&__label {
		white-space: nowrap;
		text-transform: uppercase;
		font-family: $link-font;
		font-size: 0.8rem;
	}
	
	.icon-checkmark {
		position: relative;
		width: 100%;
		height: inherit;
		fill: transparent;

		.check-line {
			fill: none;
			stroke: $text-color;
			stroke-width: 3;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 18px;
			stroke-dashoffset: 18px;
			transition: stroke-dashoffset 200ms ease;
		}
	}
	
	input[type=checkbox]:checked + &__box {
		background-color: $form-focus-border;
		transition: background-color 200ms ease;

		.icon-checkmark {
			.check-line {
				stroke-dashoffset: 0;
				transition: stroke-dashoffset 200ms ease 200ms;
			}
		}
	}

	$self: &;

	@include between( mobile, tablet ) {
		font-size: 20px;
	}

	@include below( mobile ) {
		font-size: 16px;

		#{$self}__box {
			border-width: 1px;
		}
	}
}