/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Slider 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.slider {
	position: relative;
	border-radius: $round;
	width: 100%;
	height: 1.2rem;

	$self: &;

	&__input {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		outline: none;
		width: 100%;
		height: inherit;
		background: transparent;
		padding: 0;
		line-height: 0;

		// &:focus {
		// 	outline: 2px dashed rgba($accent, 0.8);
		// }
	}

	&__track {
		position: absolute;
		z-index: 0;
		top: 50%;
		right: 0;
		bottom: unset;
		left: 0;
		transform: translateY(-50%);
		border-radius: 9999px;
		width: 100%;
		height: 8px;
		background-color: $charcoal;
		content: '';
	}

	&__thumb {
		position: absolute;
		z-index: 0;
		top: 50%;
		bottom: 0;
		transform: translateY(-50%);
		border-radius: 2px;
		border: 2px solid transparent;
		background-color: currentColor;
		width: 8px;
		height: inherit;
		color: $accent;
	}

	&--triangle {
		padding: 0 2px;

		#{$self}__thumb {
			border-radius: 0;
			border: none;
			background-color: transparent;
			width: 0;
			height: 8px;
	
			&::before,
			&::after {
				position: absolute;
				bottom: 0;
				content: '';
			}
	
			&::before {
				left: 0;
				transform: translateX(-100%);
				border-top: 4px solid transparent;
				border-right: 3px solid currentColor;
				border-bottom: 4px solid currentColor;
				border-left: 3px solid transparent;
			}
			&::after {
				right: 0;
				transform: translateX(100%);
				border-top: 4px solid transparent;
				border-right: 3px solid transparent;
				border-bottom: 4px solid currentColor;
				border-left: 3px solid currentColor;
			}
		}
	}	
	
	// unset default range styles
	input[type=range] {
		-webkit-appearance: none;
		position: absolute;
		outline: none;
		border: none;
		width: 100%;
		height: inherit;
		background: transparent;
		cursor: pointer;

		&:focus {
			border: none;
		}

		// -webkit
		&::-webkit-slider-runnable-track {
			border-radius: 0;
			border: none;
			width: 100%;
			height: inherit;
			background: transparent;
			cursor: pointer;
		}
			&:focus::-webkit-slider-runnable-track {
				background: transparent;
			}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			position: initial;
			outline: none;
			border: none;
			width: 0;
			height: 0;
			background-color: transparent;
		}

		// -ms
		&::-ms-track {
			border: none;
			width: 100%;
			height: inherit;
			background: transparent;
			color: transparent;
		}

		&::-ms-fill-lower {
			background: transparent;
			border: none;
		}
			&:focus::-ms-fill-lower {
				background: transparent;
				border: none;
			}

		&::-ms-fill-upper {
			background: transparent;
		}
			&:focus::-ms-fill-upper {
				background: transparent;
			}

		// -moz
		&::-moz-range-track {
			border-radius: 0;
			border: none;
			width: 100%;
			height: inherit;
			background: transparent;
			cursor: pointer;
		}

		&::-moz-range-thumb {
			position: initial;
			outline: none;
			border: none;
			width: 0;
			height: 0;
			background-color: transparent;
			cursor: pointer;
		}

		&::-moz-focus-outer {
			border: 0;
		}
	}
}