/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Toggle 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.toggle {
	display: inline-flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;

	input[type=checkbox] {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__switch {
		position: relative;
		display: inline-flex;
		border-radius: 9999px;
		width: 2em;
		height: 1em;
		border: 3px solid $primary;
		background-color: $primary;
		
		&::after {
			position: relative;
			left: 0%;
			transform: translateX(0%);
			width: 18px;
			border-radius: 9999px;
			background-color: $accent;
			transition: left 300ms ease-in-out,
						transform 300ms ease-in-out;
			content: '';
		}
	
		:checked + &::after {
			left: 100%;
			transform: translateX(-100%);
		}
	}

	& > &__label {
		margin-left: 0.6rem;
	}

	&__label {
		white-space: nowrap;
		text-transform: uppercase;
		font-family: $link-font;
		font-size: 0.8rem;
	}

	&__text {
		animation: fadein 300ms forwards;
	}

	@keyframes fadein {
		from { opacity: 0; }
		to   { opacity: 1; }
	}

	$self: &;

	@include between( mobile, tablet ) {
		font-size: 20px;

		#{$self}__switch {
			border-width: 2px;

			&::after {
				width: 16px;
			}
		}
	}

	@include below( mobile ) {
		font-size: 16px;

		#{$self}__switch {
			border-width: 2px;

			&::after {
				width: 12px;
			}
		}
	}

	&--small {
		font-size: 16px;

		#{$self}__switch {
			border-width: 2px;

			&::after {
				width: 12px;
			}
		}
	}
}