/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| MODULES: Radio 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.radio {
	display: inline-flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;

	&__box {
		display: flex;
		position: relative;
		flex-shrink: 0;
		width: 1em;
		height: 1em;
		border-radius: $round;
		border: 2px solid $text-color;
		background-color: $form-border;
		padding: 2px;

		&::before {
			flex: 1;
			transform: scale(0);
			background-color: $form-focus-border;
			transition: transform 200ms ease;
			content: '';
		}
	
		:checked + &::before {
			transform: scale(1);
		}
	}

	& > .label {
		margin-left: 0.6rem;
	}

	$self: &;

	@include between( mobile, tablet ) {
		font-size: 20px;
	}

	@include below( mobile ) {
		font-size: 16px;

		#{$self}__box {
			border-width: 1px;
		}
	}
}