/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| UTILITY: Whitespace
|––––––––––––––––––––––––––––––––––––––––––––––––––
|
| Syntax
| [rule]-[direction]-[size] 
|
| size values are found in settings.scss
|
| pad = padding
| mar = margin
|
| sm = small
| md = medium
| lg = large
|
| t = top
| r = right
| b = bottom
| l = left
|
| v = vertical
| h = horizontal
|
| mb: = below tablet
| dt: = above tablet
|
*/

/* === padding === */

/* none */
.pad-0 { padding: 0; }

.pad-t-0 { padding-top: 0; }

.pad-r-0 { padding-right: 0; }

.pad-b-0 { padding-bottom: 0; }

.pad-l-0 { padding-left: 0; }

.pad-h-0 {
	padding-left: 0;
	padding-right: 0;
}

.pad-v-0 {
	padding-top: 0;
	padding-bottom: 0;
}

/* dynamic */
.pad { padding: $space; }

.pad-t { padding-top: $space; }

.pad-r { padding-right: $space; }

.pad-b { padding-bottom: $space; }

.pad-l { padding-left: $space; }

.pad-h {
	padding-left: $space;
	padding-right: $space;
}

.pad-v {
	padding-top: $space;
	padding-bottom: $space;
}

/* surrounding */
.pad-1 { padding: $space-1; }

.pad-2 { padding: $space-2; }

.pad-3 { padding: $space-3; }

.pad-4 { padding: $space-4; }

.pad-5 { padding: $space-5; }

.pad-6 { padding: $space-6; }

.pad-7 { padding: $space-7; }

.pad-8 { padding: $space-8; }

/* horizontal */
.pad-h-1 {
	padding-left: $space-1;
	padding-right: $space-1;
}

.pad-h-2 {
	padding-left: $space-2;
	padding-right: $space-2;
}

.pad-h-3 {
	padding-left: $space-3;
	padding-right: $space-3;
}

.pad-h-4 {
	padding-left: $space-4;
	padding-right: $space-4;
}

.pad-h-5 {
	padding-left: $space-5;
	padding-right: $space-5;
}

.pad-h-6 {
	padding-left: $space-6;
	padding-right: $space-6;
}

.pad-h-7 {
	padding-left: $space-7;
	padding-right: $space-7;
}

.pad-h-8 {
	padding-left: $space-8;
	padding-right: $space-8;
}

/* vertical */
.pad-v-1 {
	padding-top: $space-1;
	padding-bottom: $space-1;
}

.pad-v-2 {
	padding-top: $space-2;
	padding-bottom: $space-2;
}

.pad-v-3 {
	padding-top: $space-3;
	padding-bottom: $space-3;
}

.pad-v-4 {
	padding-top: $space-4;
	padding-bottom: $space-4;
}

.pad-v-5 {
	padding-top: $space-5;
	padding-bottom: $space-5;
}

.pad-v-6 {
	padding-top: $space-6;
	padding-bottom: $space-6;
}

.pad-v-7 {
	padding-top: $space-7;
	padding-bottom: $space-7;
}

.pad-v-8 {
	padding-top: $space-8;
	padding-bottom: $space-8;
}

/* === margin === */

/* none */
.mar-0 { margin: 0; }

.mar-t-0 { margin-top: 0px; }

.mar-r-0 { margin-right: 0px; }

.mar-b-0 { margin-bottom: 0px; }

.mar-l-0 { margin-left: 0px; }

.mar-v-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.mar-h-0 {
	margin-right: 0;
	margin-left: 0;
}

/* dynamic */
.mar { margin: $space; }

.mar-t { margin-top: $space; }

.mar-r { margin-right: $space; }

.mar-b { margin-bottom: $space; }

.mar-l { margin-left: $space; }

.mar-v {
	margin-top: $space;
	margin-bottom: $space;
}

.mar-h {
	margin-right: $space;
	margin-left: $space;
}

/* top */
.mar-t-1 { margin-top: $space-1; }

.mar-t-2 { margin-top: $space-2; }

.mar-t-3 { margin-top: $space-3; }

.mar-t-4 { margin-top: $space-4; }

.mar-t-5 { margin-top: $space-5; }

.mar-t-6 { margin-top: $space-6; }

.mar-t-7 { margin-top: $space-7; }

.mar-t-8 { margin-top: $space-8; }

/* right */
.mar-r-1 { margin-right: $space-1; }

.mar-r-2 { margin-right: $space-2; }

.mar-r-3 { margin-right: $space-3; }

.mar-r-4 { margin-right: $space-4; }

.mar-r-5 { margin-right: $space-5; }

.mar-r-6 { margin-right: $space-6; }

.mar-r-7 { margin-right: $space-7; }

.mar-r-8 { margin-right: $space-8; }

/* bottom */
.mar-b-1 { margin-bottom: $space-1; }

.mar-b-2 { margin-bottom: $space-2; }

.mar-b-3 { margin-bottom: $space-3; }

.mar-b-4 { margin-bottom: $space-4; }

.mar-b-5 { margin-bottom: $space-5; }

.mar-b-6 { margin-bottom: $space-6; }

.mar-b-7 { margin-bottom: $space-7; }

.mar-b-8 { margin-bottom: $space-8; }

/* left */
.mar-l-1 { margin-left: $space-1; }

.mar-l-2 { margin-left: $space-2; }

.mar-l-3 { margin-left: $space-3; }

.mar-l-4 { margin-left: $space-4; }

.mar-l-5 { margin-left: $space-5; }

.mar-l-6 { margin-left: $space-6; }

.mar-l-7 { margin-left: $space-7; }

.mar-l-8 { margin-left: $space-8; }



/* === Below Tablet === */

@include below(tablet) {
	.mb\: {
		/* === padding === */

		/* none */
		&pad-0 { padding: 0; }

		&pad-t-0 { padding-top: 0; }

		&pad-r-0 { padding-right: 0; }

		&pad-b-0 { padding-bottom: 0; }

		&pad-l-0 { padding-left: 0; }

		&pad-h-0 {
			padding-left: 0;
			padding-right: 0;
		}

		&pad-v-0 {
			padding-top: 0;
			padding-bottom: 0;
		}

		/* dynamic */
		&pad { padding: $space; }

		&pad-t { padding-top: $space; }

		&pad-r { padding-right: $space; }

		&pad-b { padding-bottom: $space; }

		&pad-l { padding-left: $space; }

		&pad-h {
			padding-left: $space;
			padding-right: $space;
		}

		&pad-v {
			padding-top: $space;
			padding-bottom: $space;
		}

		/* surrounding */
		&pad-1 { padding: $space-1; }

		&pad-2 { padding: $space-2; }

		&pad-3 { padding: $space-3; }

		&pad-4 { padding: $space-4; }

		&pad-5 { padding: $space-5; }

		&pad-6 { padding: $space-6; }

		&pad-7 { padding: $space-7; }

		&pad-8 { padding: $space-8; }

		/* horizontal */
		&pad-h-1 {
			padding-left: $space-1;
			padding-right: $space-1;
		}

		&pad-h-2 {
			padding-left: $space-2;
			padding-right: $space-2;
		}

		&pad-h-3 {
			padding-left: $space-3;
			padding-right: $space-3;
		}

		&pad-h-4 {
			padding-left: $space-4;
			padding-right: $space-4;
		}

		&pad-h-5 {
			padding-left: $space-5;
			padding-right: $space-5;
		}

		&pad-h-6 {
			padding-left: $space-6;
			padding-right: $space-6;
		}

		&pad-h-7 {
			padding-left: $space-7;
			padding-right: $space-7;
		}

		&pad-h-8 {
			padding-left: $space-8;
			padding-right: $space-8;
		}

		/* vertical */
		&pad-v-1 {
			padding-top: $space-1;
			padding-bottom: $space-1;
		}

		&pad-v-2 {
			padding-top: $space-2;
			padding-bottom: $space-2;
		}

		&pad-v-3 {
			padding-top: $space-3;
			padding-bottom: $space-3;
		}

		&pad-v-4 {
			padding-top: $space-4;
			padding-bottom: $space-4;
		}

		&pad-v-5 {
			padding-top: $space-5;
			padding-bottom: $space-5;
		}

		&pad-v-6 {
			padding-top: $space-6;
			padding-bottom: $space-6;
		}

		&pad-v-7 {
			padding-top: $space-7;
			padding-bottom: $space-7;
		}

		&pad-v-8 {
			padding-top: $space-8;
			padding-bottom: $space-8;
		}

		/* === margin === */

		/* none */
		&mar-0 { margin: 0; }

		&mar-t-0 { margin-top: 0px; }

		&mar-r-0 { margin-right: 0px; }

		&mar-b-0 { margin-bottom: 0px; }

		&mar-l-0 { margin-left: 0px; }

		&mar-v-0 {
			margin-top: 0;
			margin-bottom: 0;
		}

		&mar-h-0 {
			margin-right: 0;
			margin-left: 0;
		}

		/* dynamic */
		&mar { margin: $space; }

		&mar-t { margin-top: $space; }

		&mar-r { margin-right: $space; }

		&mar-b { margin-bottom: $space; }

		&mar-l { margin-left: $space; }

		&mar-v {
			margin-top: $space;
			margin-bottom: $space;
		}

		&mar-h {
			margin-right: $space;
			margin-left: $space;
		}

		/* top */
		&mar-t-1 { margin-top: $space-1; }

		&mar-t-2 { margin-top: $space-2; }

		&mar-t-3 { margin-top: $space-3; }

		&mar-t-4 { margin-top: $space-4; }

		&mar-t-5 { margin-top: $space-5; }

		&mar-t-6 { margin-top: $space-6; }

		&mar-t-7 { margin-top: $space-7; }

		&mar-t-8 { margin-top: $space-8; }

		/* right */
		&mar-r-1 { margin-right: $space-1; }

		&mar-r-2 { margin-right: $space-2; }

		&mar-r-3 { margin-right: $space-3; }

		&mar-r-4 { margin-right: $space-4; }

		&mar-r-5 { margin-right: $space-5; }

		&mar-r-6 { margin-right: $space-6; }

		&mar-r-7 { margin-right: $space-7; }

		&mar-r-8 { margin-right: $space-8; }

		/* bottom */
		&mar-b-1 { margin-bottom: $space-1; }

		&mar-b-2 { margin-bottom: $space-2; }

		&mar-b-3 { margin-bottom: $space-3; }

		&mar-b-4 { margin-bottom: $space-4; }

		&mar-b-5 { margin-bottom: $space-5; }

		&mar-b-6 { margin-bottom: $space-6; }

		&mar-b-7 { margin-bottom: $space-7; }

		&mar-b-8 { margin-bottom: $space-8; }

		/* left */
		&mar-l-1 { margin-left: $space-1; }

		&mar-l-2 { margin-left: $space-2; }

		&mar-l-3 { margin-left: $space-3; }

		&mar-l-4 { margin-left: $space-4; }

		&mar-l-5 { margin-left: $space-5; }

		&mar-l-6 { margin-left: $space-6; }

		&mar-l-7 { margin-left: $space-7; }

		&mar-l-8 { margin-left: $space-8; }
	}
}



/* === Above Tablet === */

@include above(tablet) {
	.dt\: {

		/* === padding === */

		/* none */
		&pad-0 { padding: 0; }

		&pad-t-0 { padding-top: 0; }

		&pad-r-0 { padding-right: 0; }

		&pad-b-0 { padding-bottom: 0; }

		&pad-l-0 { padding-left: 0; }

		&pad-h-0 {
			padding-left: 0;
			padding-right: 0;
		}

		&pad-v-0 {
			padding-top: 0;
			padding-bottom: 0;
		}

		/* dynamic */
		&pad { padding: $space; }

		&pad-t { padding-top: $space; }

		&pad-r { padding-right: $space; }

		&pad-b { padding-bottom: $space; }

		&pad-l { padding-left: $space; }

		&pad-h {
			padding-left: $space;
			padding-right: $space;
		}

		&pad-v {
			padding-top: $space;
			padding-bottom: $space;
		}

		/* surrounding */
		&pad-1 { padding: $space-1; }

		&pad-2 { padding: $space-2; }

		&pad-3 { padding: $space-3; }

		&pad-4 { padding: $space-4; }

		&pad-5 { padding: $space-5; }

		&pad-6 { padding: $space-6; }

		&pad-7 { padding: $space-7; }

		&pad-8 { padding: $space-8; }

		/* horizontal */
		&pad-h-1 {
			padding-left: $space-1;
			padding-right: $space-1;
		}

		&pad-h-2 {
			padding-left: $space-2;
			padding-right: $space-2;
		}

		&pad-h-3 {
			padding-left: $space-3;
			padding-right: $space-3;
		}

		&pad-h-4 {
			padding-left: $space-4;
			padding-right: $space-4;
		}

		&pad-h-5 {
			padding-left: $space-5;
			padding-right: $space-5;
		}

		&pad-h-6 {
			padding-left: $space-6;
			padding-right: $space-6;
		}

		&pad-h-7 {
			padding-left: $space-7;
			padding-right: $space-7;
		}

		&pad-h-8 {
			padding-left: $space-8;
			padding-right: $space-8;
		}

		/* vertical */
		&pad-v-1 {
			padding-top: $space-1;
			padding-bottom: $space-1;
		}

		&pad-v-2 {
			padding-top: $space-2;
			padding-bottom: $space-2;
		}

		&pad-v-3 {
			padding-top: $space-3;
			padding-bottom: $space-3;
		}

		&pad-v-4 {
			padding-top: $space-4;
			padding-bottom: $space-4;
		}

		&pad-v-5 {
			padding-top: $space-5;
			padding-bottom: $space-5;
		}

		&pad-v-6 {
			padding-top: $space-6;
			padding-bottom: $space-6;
		}

		&pad-v-7 {
			padding-top: $space-7;
			padding-bottom: $space-7;
		}

		&pad-v-8 {
			padding-top: $space-8;
			padding-bottom: $space-8;
		}

		/* === margin === */

		/* none */
		&mar-0 { margin: 0; }

		&mar-t-0 { margin-top: 0px; }

		&mar-r-0 { margin-right: 0px; }

		&mar-b-0 { margin-bottom: 0px; }

		&mar-l-0 { margin-left: 0px; }

		&mar-v-0 {
			margin-top: 0;
			margin-bottom: 0;
		}

		&mar-h-0 {
			margin-right: 0;
			margin-left: 0;
		}

		/* dynamic */
		&mar { margin: $space; }

		&mar-t { margin-top: $space; }

		&mar-r { margin-right: $space; }

		&mar-b { margin-bottom: $space; }

		&mar-l { margin-left: $space; }

		&mar-v {
			margin-top: $space;
			margin-bottom: $space;
		}

		&mar-h {
			margin-right: $space;
			margin-left: $space;
		}

		/* top */
		&mar-t-1 { margin-top: $space-1; }

		&mar-t-2 { margin-top: $space-2; }

		&mar-t-3 { margin-top: $space-3; }

		&mar-t-4 { margin-top: $space-4; }

		&mar-t-5 { margin-top: $space-5; }

		&mar-t-6 { margin-top: $space-6; }

		&mar-t-7 { margin-top: $space-7; }

		&mar-t-8 { margin-top: $space-8; }

		/* right */
		&mar-r-1 { margin-right: $space-1; }

		&mar-r-2 { margin-right: $space-2; }

		&mar-r-3 { margin-right: $space-3; }

		&mar-r-4 { margin-right: $space-4; }

		&mar-r-5 { margin-right: $space-5; }

		&mar-r-6 { margin-right: $space-6; }

		&mar-r-7 { margin-right: $space-7; }

		&mar-r-8 { margin-right: $space-8; }

		/* bottom */
		&mar-b-1 { margin-bottom: $space-1; }

		&mar-b-2 { margin-bottom: $space-2; }

		&mar-b-3 { margin-bottom: $space-3; }

		&mar-b-4 { margin-bottom: $space-4; }

		&mar-b-5 { margin-bottom: $space-5; }

		&mar-b-6 { margin-bottom: $space-6; }

		&mar-b-7 { margin-bottom: $space-7; }

		&mar-b-8 { margin-bottom: $space-8; }

		/* left */
		&mar-l-1 { margin-left: $space-1; }

		&mar-l-2 { margin-left: $space-2; }

		&mar-l-3 { margin-left: $space-3; }

		&mar-l-4 { margin-left: $space-4; }

		&mar-l-5 { margin-left: $space-5; }

		&mar-l-6 { margin-left: $space-6; }

		&mar-l-7 { margin-left: $space-7; }

		&mar-l-8 { margin-left: $space-8; }
	}
}