/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Sheets
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.sheets {
	$self: &;
	$bg_color: #d5cbbc;
	$width: 48rem;
	$ratio: 141.4%;
	$time: 400ms;

	position: relative;
	box-shadow: 3px 3px 12px 3px rgba(0,0,0,0.2);
	border-radius: $round;
	background-color: $bg_color;
	width: 100%;
	max-width: $width;
	padding-top: $ratio;

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__page {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: scroll;
		border-radius: $round;
		border: solid 2px darken($bg_color, 4%);
		background-color: $bg_color;
		transition: opacity $time ease,
					transform $time ease;		
	
		&:not(&--active) {
			opacity: 0;
			transform: translateX( 10% );
			z-index: 1;
		}

		&--active {
			opacity: 1;
			transform: translateX( 0 );
			z-index: 9;
		}
	}

	&__nav {
		position: relative;

		& #{$self}__tab {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			background-color: $accent;
			color: $white;
			transition: left $time ease;
	
			&::before,
			&::after {
				display: block;
				position: absolute;
				border: 0.75em solid $accent;
				content: '';
			}
		}

		@include below( tablet ) {
			font-size: 20px;
		}

		@include between( tablet, desktop ) {
			font-size: 22px;
		}

		@include above( desktop ) {
			font-size: 24px;
		}
	}

	@include below( desktop ) {
		&__wrapper {
			padding: 5rem 0 0 0;
		}

		&__nav #{$self}__tab {
			top: 0;
			bottom: unset;
			width: 2.5em;
			height: 2.5em;
			padding-bottom: 1rem;
			transform: translateY(-100%);
			transition: top $time ease;

			&::before,
			&::after {
				top: 0;
				bottom: unset;
				transform: translateY(-100%);
			}
			&::before {
				right: 0;
				border-top-color: transparent;
				border-left-color: transparent;
			}
			&::after {
				left: 0;
				border-top-color: transparent;
				border-right-color:  transparent;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					left: (($i - 1) * 2.5em) + ($i * 0.5em);
				}
			}
	
			&:not(&--active) {
				top: 1em;
			}
	
			&--active {
				top: 0;
				cursor: default;
			}
		}
	}

	@include above( desktop ) {
		&__wrapper {
			padding: 0 0 0 5rem;
		}
		
		&__nav #{$self}__tab {
			right: unset;
			left: 0;
			width: 3em;
			height: 2em;
			padding-right: 1rem;
			transform: translateX(-100%);
			transition: left $time ease;

			&::before,
			&::after {
				right: unset;
				left: 0;
				transform: translateX(-100%);
			}
			&::before {
				top: 0;
				border-bottom-color: transparent;
				border-left-color: transparent;
			}
			&::after {
				bottom: 0;
				border-top-color: transparent;
				border-left-color:  transparent;
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					top: (($i - 1) * 2em) + ($i * 0.5em);
				}
			}
	
			&:not(&--active) {
				left: 1em;
			}
	
			&--active {
				left: 0;
				cursor: default;
			}
		}
	}

	.sheet {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0.25rem;

		&-box {
			border-radius: $round;
			border: solid 2px darken($bg_color, 4%);
			margin: 0.25rem;
			padding: 0.5rem;
		}
	}
}