/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| LAYOUT: Offset Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

// Variables
$offset-bp: $tablet;

$offset-outside: $outer;
$offset-half-outside: $offset-outside / 2;

$offset-inside: $wrapper;
$offset-half-inside: $offset-inside / 2;

$offset-main: 36rem;

$offset-aside: $offset-inside - $offset-main;

$offset-difference: ($offset-main - $offset-aside) / 2;


/* === SIMPLIFIED === */
// Simplified assumes you are already in the main wrapper and centered

.offset-main {
	width: 100%;

	@include above($offset-bp) {
		margin-left: auto;
		max-width: $offset-main;
	}
}

.offset-main-wide {
	width: 100%;

	@include above($offset-bp) {
		margin-left: auto;
		max-width: calc(#{$offset-half-outside} + #{$offset-difference});
	}
}

.offset-aside {
	width: 100%;

	@include above($offset-bp) {
		margin-right: auto;
		max-width: $offset-aside;
	}
}

.offset-aside-wide {
	width: 100%;

	@include above($offset-bp) {
		margin-right: auto;
		max-width: calc(#{$offset-half-outside} - #{$offset-difference});
	}
}



/* === DYNAMIC === */
// Dynamic will work just as the simplified does, but it will automatically contain itself 
// to the outer, wrapper and inner proportions; no matter how wide the parent is.

// outer
.offset-row {
	display: flex;

	.column-main,
	.column-aside {
		display: flex;
		flex-flow: column;
		width: 100%;
	}

	/* === COLUMNS === */
	.offset-block {
		display: flex;
		width: 100%;
		// horz_pad

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&:not(:first-child) {
			padding-top: 0;
		}
		&:not(:last-child) {
			padding-bottom: 0;
		}

		/* === COLUMN INNER === */
		.offset-inner {
			flex: 1;
			width: 100%;
			// horz_pad
		}
	}
	
	// so long as there is no background don't add padding to the blocks
	&:not([class*="bg-"]):not([class*="background-"]) .offset-block {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include below($offset-bp) {
		flex-flow: column nowrap;

		.column-main,
		.column-aside {
			max-width: 100%;
		
			.offset-block {
				max-width: 100%;
			}

			.offset-inner {
				padding: 0;
			}
		}
	}

	@include above($offset-bp) {
		flex-flow: row nowrap;

		// main column
		.column-main {
			max-width: calc(50% - #{$offset-half-inside} + #{$offset-main});

			.offset-block {
				display: flex;
				justify-content: flex-end;
				max-width: calc(#{$offset-half-outside} + #{$offset-difference});
				padding-right: 0;
			}
		
			.offset-inner {
				max-width: $offset-main;
				padding-left: 0;
			}
		}
		
		// aside column
		.column-aside {
			max-width: calc(50% + #{$offset-half-inside} - #{$offset-main});


			.offset-block {
				display: flex;
				justify-content: flex-start;
				max-width: calc(#{$offset-half-outside} - #{$offset-difference});
				padding-left: 0;
			}
		
			.offset-inner {
				max-width: $offset-aside;
				padding-right: 0;
			}
		}
	}
}