/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Footer 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== VARIABLES ===== */

/* ===== LAYOUT ===== */

.site-footer {
	position: relative;
	background-color: $primary-dark;
	padding: 1rem;
    color: $white;

	&__inner {
		display: flex;
		align-items: center;
	}
}