/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Site Header 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* ===== VARIABLES ===== */

// See settings for more

$nav-bg: $primary-dark;
$nav-color: $white;
$nav-hover: $link-color;

$drawer-nav-bg: $primary-dark;
$drawer-nav-color: $white;

$nav-time: 240ms;



/* ===== LAYOUT ===== */

#header {
	box-shadow: 0 0 10px 3px $text-color;
	padding: $header-pad;
	background-color: $nav-bg;
	color: $nav-color;
}

/* ===== COMPONENTS ===== */

/* === LOGO === */
/*
| The logo height is how the header's whole size is determined, width will be automatically set.
*/

#logo {
	display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
	align-items: center;
	//
	position: relative;
	z-index: 3;
	//
	margin: 0;
	height: $header-logo-ht;
	padding-top: 0;
	font-size: 2rem;
	color: $nav-color;

	svg, img {
		fill:currentColor;
		height: inherit;
	}

	// ACTIVE STATES
	.nav-open &,
	.nav-opening & {
		transition: color $nav-time ease-in-out;
		color: $drawer-nav-color;
	}

	.nav-closed &,
	.nav-closing & {
		transition: color $nav-time ease-in-out;
	}
}

/* ===== STATIC NAV ===== */

.static-nav {
	display: flex;
	//
	position: relative;
	z-index: 1;
	//
    width: 100%;
	max-width: 50%;

	nav.site-header-nav a {
		color: inherit;
		transition: color 300ms ease-in-out;

		&:hover,
		&:active {
			color: $nav-hover;
		}
	}

	a.hide { display: none; }

	/* === RESPONSIVE === */

	@include below(desktop) {
		display: none;
	}
}

/* ===== NAV BUTTON ===== */

.menu-btn {
	display: flex;
	align-items: center;

	&__text {
		margin-left: 0.8rem;
	}
}

.user-btn {
	display: flex;
	align-items: center;

	&__text {
		margin-right: 0.8rem;
	}
}

/* ===== NAV BUTTON ===== */

$nav-btn-bar: 6px;

.nav-btn {
	display: inline-block;
	margin: -6px;
	padding: 6px;
	cursor: pointer;

	$self: &;

	&__bar {
		border-radius: 1px;
		background-color: currentColor;
		width: 30px;
		height: 4px;
		transition: opacity 300ms ease,
					transform 300ms ease;
		
		&:not(:first-child) {
			margin-top: 6px;
		}
	}
	
	&--active {
		#{$self}__bar:nth-child(1){
			transform: rotate(-45deg) translate(-7px, 7px);
		}
		#{$self}__bar:nth-child(2) {
			opacity: 0;
		}
		#{$self}__bar:nth-child(3) {
			transform: rotate(45deg) translate(-7px, -7px);
		}
	}
}

/* ===== DRAWER NAV ===== */

$drawer-width: 12rem;

.drawer-nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: unset;
	bottom: 0;
	transform: translate( 0, 100% );
	width: $drawer-width;
	height: calc( 100vh - #{$header-ht} );
	background-color: $nav-bg;
	transition: transform 500ms ease;

	&--left {
		right: unset;
		left: 0;
		transform: translate( -100%, 100% );
	}

	&--right {
		right: 0;
		left: unset;
		transform: translate( 100%, 100% );
	}

	&--active {
		transform: translate( 0, 100% );
	}
}

.viewbox {
	position: relative;
	transition: transform 500ms ease;

	&::after {
		position: absolute;
		z-index: -99;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #333;
		opacity: 0;
		transition: opacity 500ms ease,
					z-index 0ms ease 500ms;
		content: '';
	}

	&.slide-to-the-right,
	&.slide-to-the-left {
		overflow: hidden;

		&::after {
			z-index: 99;
			opacity: 0.3;
			transition: opacity 500ms ease,
						z-index 0ms ease;
		}
	}

	&.slide-to-the-right {
		transform: translate( -$drawer-width / 2, 0 );
	}

	&.slide-to-the-left {
		transform: translate( $drawer-width / 2, 0 );
	}

	&.slide-to-the-right.slide-to-the-left {
		transform: translate( 0, 0 );
	}
}