/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Modal 
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

$modalGutter: 2rem;

body.modal-open,
body.modal-opening {
    overflow: hidden;
}

@keyframes modal_pop_in {
    from {
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes modal_pop_out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.95);
        opacity: 0;
        filter: blur(0);
    }
}

@keyframes modal_fade_in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes modal_fade_out {
    from { opacity: 1; }
    to { opacity: 0; }
}


// Keep the modal from flowing off screen
.modal-wrapper {
    display: block;
    position: fixed;
    z-index: 990;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	background-color: rgba( darken( $primary-light, 50% ), 0.5);
	overflow: auto;
    padding: $modalGutter $modalGutter 0 $modalGutter;
    text-align: center;

    &::after {
        display: inline-block;
        height: 100%;
        content: '';
	}
	
	&.modal-closed {
        visibility: hidden;
    }

    &.modal-opening {
		animation: modal_fade_in 320ms forwards ease-in-out;
	}
	
    &.modal-opened {
        visibility: visible;
    }

    &.modal-closing {
		animation: modal_fade_out 320ms forwards ease-in-out;
    }
}

.modal-overlay {
	display: block;
    position: absolute;
    z-index: 991;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	content: '';
	cursor: pointer;
}

// this is what centers the modal vertically
.modal, .modal-wrapper::after {
    vertical-align: middle;
}

// The modal itself!
.modal {
    display: inline-flex;
    position: relative;
    z-index: 998;
    margin: $modalGutter 0;
    max-width: 100%;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.2);
	background-color: $white;
	
	.modal-closed > & {
        visibility: hidden;
    }

    .modal-opening > & {
        animation: modal_pop_in 320ms forwards ease-in-out;
	}

	.modal-opened > & {
        visibility: visible;
    }

    .modal-closing > & {
        animation: modal_pop_out 320ms forwards ease-in-out;
    }
}

.modal-close-button {
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    left: unset;
    transform: translate( 60%, -60% );
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer;
    
    &::after {
        display: block;
        box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.2);
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        background-color: $white;
        line-height: 1.5em;
        font-size: 24px;
        color: $light-gray;
        content: "\00d7";
        transition: color 200ms ease-in-out,
                background 200ms ease-in-out;
    }

    &:hover::after,
    &:focus::after {
        background-color: $link-color;
        color: $text-color;
    }
}

.modal-inner {
	display: block;
}

////////////////////////////
.test-fill {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 24rem;
	height: 13.5rem;
	padding: 1rem;
	
	span {
		text-align: center;
		text-transform: uppercase;
		font-size: 2rem;
	}
}
////////////////////////////